*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    user-select: none;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}
.todolist{
    width: 100%;
    max-width: 500px;
    background: white;   
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todolist h2{
    display: flex;
    align-items: center;
    background: white;
    margin-bottom: 30px;
    margin-left: 10px;
}
.todolist img{
    width: 25px;
    align-items: center;
    text-align: center; 
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    padding: 10px;
    background: transparent;
    outline: none;
    border: none;
}
button{
    padding: 16px 30px;
    border-radius: 40px;
    border: 0;
    font-size: 16px;
    background: #ff5945;
    outline: 0;
    color: white;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    position: relative;
    cursor: pointer;
    user-select: none;
    
}

ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background-image: url(unchecked.png);
    background-size: cover;
    top: 6px;
    left: 8px;
    border-radius: 50%;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    color: #555;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
}