*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
    
}

body{
    background-image: url(background.png);
    background-size: cover;
    background-attachment:fixed ;
    position: relative;
    overflow: hidden;
}    

.container{
    height: 100vh;
    width: 100%;
}
.left-container{
    height: 15%;
    width: 95%;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.image1{
    height: 50px;
    width: 10%;
    margin-left: 30px;
    cursor: pointer;
}

.btn1{
    border: 2px solid white;
    padding: 10px 25px;
    color: #fff;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
}


.text{
    color: #fff;
    padding: 80px;
    font-size: 40px;
}
.text1{
    font-size: 20px;
}
.middle-container{
    display: flex;
    align-content: center;
    padding: 20px;
    justify-content: space-between;
}

.btn2{
    border: 2px solid white;
    height: 45px;
    padding: 0 25px;
    color: #fff;
    border-radius: 20px;
    margin-left: 65px;
    margin-top: -80px;
    background: transparent;
    cursor: pointer;

}
.bubble{
    height: 40px;
    width: 40px;
    margin-right: 350px;
    margin-top: -50rem;
    margin-bottom: 55px;
    
}

.right-container{
    position: absolute;
    height: 100%;
    width: 70px;
    right: 0;
    top: 0;
    background:linear-gradient(#00545d,#000729)
}
.navbar{
    display: block;
    cursor: pointer;
}

.menu{
    display: block;
    margin: 52px auto 0;
    width: 35px;
}

.images2{
    margin: 100px auto 0 ;
    width: 30px;
    position: relative;
    transform: translate(-50%);
}
.images3{
    margin: 100px auto 0 5px;
    width: 20px;
    position: relative;
}

.a,.b,.c,.d,.e{
    width: 50px;
    margin-left: 4px;
}
.a{
    margin-top: 10px;
}

.b,.c,.d{

    margin-top: 10px;
   
}


.d{
    margin-top: 40px;
    margin-right: 3px;
}
.e{
    margin-top: 5px;
    margin-right: 2rem;
    margin-bottom: -2rem;
}


